* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.reds {
    background-color: black;
    color: red;
}

.container-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.entry {
    text-align: center;
    background-color: #FF191E;
    border: 2px solid black;
    padding: 1rem;
    color: white;
}

.gotcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border: 2px dashed black;
    padding: 1rem 3rem;
    color: black;
}

.gotcha h2 {
    margin:0
}

.gotcha a {
    color: black;
}

.gotcha a:hover {
    color:#FF191E
}